.userProfileContainer{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    background-color: #212121;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 14px;
}

.back span{
    margin-left: 0.2rem;
}

.back:hover{
    background-color: #2f2f2f;
    text-decoration: underline;
}

.Account{
    width: 30%;
    height: 50%;
    min-width: 300px;
    padding-block: 5rem;
    background-color: #212121;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Account h1{
    padding-left: 0.4rem;
    margin: 0;
    font-size: 1.8rem;
}

.Account button{
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid #f87171;
    color: #f87171;
    padding: 8px 17px;
    border-radius: 10px;
    margin: 10px;
}

.Account button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.Account h3 input{
    background-color: #191919;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    width: 53%;
    margin-left: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}