.chatWindow{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    text-align: center;
    overflow-y: auto;
}

.sidebarToggleBtn{
    background-color: #212121;
    border: none;
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 1rem;
    padding-block: 6px;
    z-index: 1;
}

.sidebarToggleBtn:hover{
    background-color: #FFFFFF26;
    cursor: pointer;
    border-radius: 10px;
}

.chatWindow::-webkit-scrollbar{
    width: 0.5rem;
}

.chatWindow::-webkit-scrollbar-thumb{
    background-color: #686868;
    border-radius: 5px;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #212121;
}

.navbar > span{
    padding: 0.8rem;
    margin: 0.5rem 1rem;
    border-radius: 10px;
}

.navbar > span:hover{
    background-color: #FFFFFF26;
    cursor: pointer;
}

.modelContainer{
    position: absolute;
    top: 54px;
    left: 18px;
    width: 19rem;
    max-width: 300px;
    background-color: #2f2f2f;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 10px;
    text-align: left;
    display: none;
}

.modelContainer ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modelContainer ul li{
    padding-inline: 8px;
    margin: 1px;
    opacity: 0.8;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modelContainer ul li:hover{
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
}

.userIconDiv{
    margin: 1rem 2rem;
}

.userIconDiv span{
    margin: 1rem 2rem;
}

.userIcon{
    background-color: #339cff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.userIcon:hover i{
    color: #fff;
}

.dropdownContainer{
    position: absolute;
    right: 20px;
    top: 50px;
    background-color: #2f2f2f;
    border: 0.25px solid #3a3a3a;
    padding: 10px;
    width: 180px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li{
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
}

.dropdown ul li:hover{
    background-color: #424242;
    cursor: pointer;
}

/* chat input */
.chatInput{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    background-color: #212121;
}

.inputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.inputBox input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    font-size: 0.9rem;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px
                rgba(0, 0, 0, 0.05) 0 4px 6px
                rgba(0, 0, 0, 0.05) 0 12px 3px
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

.inputBox input:focus{
    outline: none;
}

.inputBox .submit{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputBox .submit i:hover{
    color: #fff;
}

.chatInput .info p{
    font-size: 12px;
    color: #b4b4b4;
}