.LoginContainer{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginBox{
    max-width: 350px;
    width: 100%;
    height: 400px;
    padding: 1rem;
    text-align: center;
}

.LoginBox h2{
    color: #679EFE;
}

.LoginBox .loginInputBox{
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.loginInputBox input{
    background-color: #1B1B1C;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 28px;
    margin-bottom: 21px;
}

.loginInputBox input:focus{
    outline: 1px solid #4166d5;
}

.showpasswordContainer{
    position: relative;
}

.showPassword{
    position: absolute;
    right: 15px;
    bottom: 32px;
    padding: 0.3rem;
    cursor: pointer;
}

.showPassword i{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.showPassword:hover i{
    color: rgba(255, 255, 255, 0.8)
}

.loginInputBox .forgetPass{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 12px;
}

.forgetPass a{
    color: #679EFE;
}

.loginInputBox .loginBtn{
    padding: 10px;
    border-radius: 28px;
    background-color: #5686FE;
    border: none;
    margin-bottom: 10px;
}

.loginInputBox .loginBtn:hover{
    background-color: #3964fe;
    cursor: pointer;
}

.moveToLoginDiv > button{
    background-color: #000;
    color:#679EFE;
    padding: 10px;
    border-radius: 28px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.moveToLoginDiv > button:hover{
    color: #3964fe;
}