.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.closeSidebar{
    display: none;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.openSidebar{
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.newSidebarBtn{
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border:  1.6px solid rgba(255, 255, 255, 0.5);
}

.logo{
    height: 30px;
}

.sidebarIconLogo{
    height: 20px;
    padding: 6px;
    cursor: ew-resize;
    background-color: #FFFFFF26;
    border-radius: 10px;
}

.newSidebarBtn button{
    font-size: 20px;
    background-color: inherit;
    border: none;
    padding-block: 6px;
    border-radius: 10px;
}

.newSidebarBtn button:hover{
    background-color: #FFFFFF26;
    cursor: pointer;
}

.history{
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    height: 100%;
    overflow-y: auto;
}

.history::-webkit-scrollbar{
    width: 0.5rem;
}

.history::-webkit-scrollbar-thumb{
    background-color: #686868;
    border-radius: 5px;
}

.history li{
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    position: relative;
}

.history li:hover{
    background-color: rgba(180, 180, 180, 0.05);
}

.fa-trash{
    position: absolute;
    right: 12px;
    opacity: 0;
    padding: 0.1rem;
}

.history li:hover .fa-trash{
    opacity: 1;
    color: #fff
}

.fa-trash:hover{
    color: #f87171 !important;
}

.highlighter{
    background-color: rgba(180, 180, 180, 0.1);
}

.sign{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-top: 0.25px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
}